@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme inline {
  --color-primary-color: #5732bf;
  --color-primary-text: #191919;
  --color-secondary-text: #1d62ca;
  --color-primary-white: #fff;
  --color-primary-black: #000;
  --color-primary-red: #b83232;
  --color-secondary-red: #b83232;
  --color-primary-red-background: #fff6f6;
  --color-primary-green: #4da66b;
  --color-secondary-green: #289b4f;
  --color-active-color: #6f45e9;
  --color-primary-grey: #78838d;
  --color-secondary-grey: #e1e3ed;
  --color-light-grey: #edeff6;
  --color-light-background: #f7f4ff;

  --font-family-sora: "Sora", sans-serif;
}

@layer base {
  body {
    @apply font-family-sora;
  }
  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }
  .heading-1 {
    @apply text-primary-text font-semibold text-[1.32rem];
  }
  .btn-primary {
    @apply bg-primary-color text-primary-white hover:opacity-75;
  }
}
